{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "exclude": ["transform-regenerator"],
        "targets": {
          "node": "6.10"
        }
      }
    ]
  ],
  "plugins": [
      "@babel/plugin-transform-async-to-generator",
      "@babel/plugin-transform-exponentiation-operator",
      ["@babel/plugin-proposal-object-rest-spread", {
        "useBuiltIns": true
      }]
  ]
}
